<h2><%=@user.username%>'s Profile</h2>
    <form action="<%= users_url %>" method = "GET">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="All Users">
    </form>

    <% if logged_in? && current_user.id == @user.id %>
        <form action="<%= edit_user_url(@user)%>" method = "GET">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Edit User">
        </form>

        <form action="<%= user_url(@user) %>" method = "POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE USER">
        </form>
    <% end %>