<h1><%= @cat.name%></h1>

<table>
    <thead>
        <tr>
            <th colspan="1">Attribute</th>
			<th colspan="1">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
          	<td><%= @cat.name%></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color%></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex%></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><%= @cat.birth_date%></td>
        </tr>
  	</tbody>
</table>

